[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[user]
    name = Meyron, Jocelyn
    email = JocelynMeyron@eaton.com
[helper]
    helper = manager-core
[alias]
    ci = commit
    co = checkout
    cp = cherry-pick
    f = fetch -p
    st = status
    br = branch
    f = fetch -p
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue(%an)%Creset' --abbrev-commit --date=relative
    oops = reset --soft HEAD^1
    drop = reset --hard
    ri = rebase -i
    rc = rebase --continue
    rs = rebase --skip
    ra = rebase --abort
    frm = !sh -c 'git rm `git ls-files --deleted`'
    g = grep -n --break --heading
    su = submodule update --init
    yolo = push -f origin master
    merge-fork = !git fetch upstream && git checkout master && git merge upstream/master
    rebase-fork = !git fetch upstream && git checkout master && git rebase upstream/master
    changelog = ! git commit -m 'chore: update CHANGELOG'
[core]
    autocrlf = input
    safecflf = true
    editor = vim
[diff]
    renames = true
    tool = meld
[push]
    default = current
[merge]
    tool = vimdiff
    # conflictstyle = diff3
[credential]
    helper = store
[url "https://aur.archlinux.org/"]
    insteadOf = "aur:"
[url "https://github/"]
    insteadOf = "gh:"
[url "git@github.com:"]
    pushInsteadOf = "gh:"
[pull]
    rebase = false
# [submodule]
#     recurse = true
[tig "bind"]
    main = = !git commit --fixup=%(commit)
    main = <Ctrl-R> !git rebase --autosquash -i %(commit)
